body {
	overflow-x: hidden;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4  ); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.navbar {
	background-color: #232F3E;
}
.btnSearch {
	background-color: #FEBD69;
}

.btnSearch:hover {
	background-color: #FFAB3C
}
.dropdown-toggle, .b {
	-webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; 
}

.cat{
	padding-top: 50px
}

.fadeOut {
	transition: all 0.4s ease-in-out;
}

.fadeOut:hover {
	transform: scale(1.1);
}

.caption a p{
    color:#0000FF !important;
}






