@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* { font-family: 'Indie Flower', cursive; }

body { margin: 0px; }

header {
  background: #eee;
  padding: 12px;
  text-align: center;
}

header input { width: 400px; }
