
.navbar-default .navbar-nav>li>a {
    color: #ff6648;
}

#logo{
  height: 20px;
}
body{
  background: #393944;
}
.ask {
  width: 100%;
  position: absolute;
  left: 0px;
  z-index: -1;
}
.jumbotron{
    padding: 0px;
    position: relative;
    background: transparent;
}

.cover {
  padding: 0px !important;
}

#imaage img {
  margin-top: 25px;
  height: 125px;
}
#name{
  color: white;
}
#userid{
  color: white;
}

.abonne{
  color: white;
  background: rgba(0,0,0,0.5) ;
  padding: 10px;
  height: 50px;
  border-radius: 10px 10px 10px 10px;
}
#question {
  background: #FFFFED;
  margin: 15px;
  margin-top: 0px;

}

.propos i{
  color:#C0C0C0 !important;
  margin-right: 0px !important ;
}

.propos a{
  color:#C0C0C0 !important;
  margin : 5px !important;
  padding-left: 0px !important;

}
.propos div {
  margin-top: 12px !important;
}

.propos{
  padding :3px !important;
  margin-left:0px !important;
  margin-top: 0px !important;
  background: white !important;
}

#text {
  width: 100%;
}
#box {
  background-color: #FF6648;
}
#demander {
  background-color: #FF6648;
  color: white;}
#buttonbhim{
  height: 38px !important;
  width: 190px !important;
  color:#FF6648 !important;
  border-radius : 19px 19px 19px 19px !important;
  border-color: #F2F2F9 !important;
  border-width:medium !important;
  background-color: white!important;
  text-align: center !important;
  padding-right: 5px !important;
}
 .bhemaH{
   color: #FF6648 !important;
   padding-left: 5px !important;
   padding-right: 0px !important ;
   opacity: 1 !imporetant ;
 }

.badge{
  background-color: white ;
  color :#FF6648 ;
  font-size: 15px ;
}

.acty{
  border-bottom-color:#FF6648;
  border-bottom-width:thick;

}
.fa-share-square-o{
  color:#FF6648 !important ;
  margin-left: 5px !important;
  margin-right: 0px !important ;

}
.sizy{
  width:245px ;
}
.aide a {
  color: #FF6648;
}
.aide {
  padding :0px;
  margin-top: 50px;
  background: white;
  text-align: center;
  padding: 16px;
}
.aide > a {
  display: block;
}
.owl{
  padding: 8px;
  width: 40px;
  margin: 5px 2px;
  border-radius: 70%;
  background:white;
  margin-top: 5px;

}
.bhemaLoun
{ padding : 0px !important;
  marging : 0px !important ;
  font-size: 10px !important ;
  width : 20px !important ;
  text-align: left !important;

}

.social .fa {
  padding: 8px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 70%;
  color: white !important;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-vk {
  background: #4E6E8E;
  color: white;
}

#copy{
  color: black !important;
 margin-right: 0px;
 padding-left: 0px;
}
.copyr{
margin-left: 0px;
}

.shit{
  margin: auto;
}
.gif {
  padding :0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main__header {
  line-height: 50px;
  border-bottom: 2px solid #FF6648;
  margin: 0px -15px;
  color: #FF6648;
}

.aime  {
  line-height: : 50px;
  border-bottom: 1px solid #C0C0C0;
  margin: 0px -15px;
  padding: 5px;
  color: #C0C0C0 ;
  text-align: right;
}
.aime .fa {
  font-size: 20px;
}
